<html>
<body>


<div class="menu_bar" style="margin: 0px 5px 0px 135px;">
  <div style="display: inline; ">
    <form style="display:inline" name="productForm" action="lib/general/navBar.php" method="get">
                       <input type='hidden' name='CSRFName' id='CSRFName' value='CSRFGuard_1522071984' />
                       <input type='hidden' name='CSRFToken' id='CSRFToken' value='a1bd2844bf055061e48b4ed7a1400f5574030db73737bbdb356ec9ab3efa0cd9de4187f0a521f28f2b2a85574d01171c674d81cdcec7410e1cca36c31e7919c0' />
       测试产品
      <select style="font-size: 80%;position:relative; top:-1px;" name="testproject" onchange="this.form.submit();">
                    <option value="2" title="test1:某某某监控系统"
            >
            test1:某某某监控系统</option>
                  <option value="12810" title="test2:某某能力平台"
            >
            test2:某某能力平台</option>
                  <option value="1332" title="test3:某某财务系统"
            >
            test3:某某财务系统</option>
                  <option value="12684" title="test4:公共平台"
            >
            test4:公共平台</option>
                  <option value="1" title="test5:北京雾霾监控"
             selected="selected" >
            test5:北京雾霾监控</option>
                  <option value="31823" title="test6:QQ对接"
            >
            test6:QQ对接</option>
                  <option value="32154" title="test7:南方都市报"
            >
            test7:南方都市报</option>
                  <option value="1528" title="test8:联通平台"
            >
            test8:联通平台/option>
                  <option value="944" title="test9:移动平台"
            >
            test9:移动平台</option>
              </select>
    </form>
  </div>
</body>
</html>
